<div id="<%= dom_id todo %>" style="display: flex; align-items: center;">
  <input type="checkbox" style="margin-right: 12px;" />
  <p style="margin: 8px 0;">
    <%= link_to todo.title, edit_todo_path(todo) %>
  </p>

</div>
